fabric_items/pl_create_shortcut.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "7991c2c9-779b-40a3-acd9-4c626e7da752",
          "workspaceId": "a8cbda3d-903e-4154-97d9-9a91c95abb42",
          "parameters": {
            "workspace_id": {
              "value": {
                "value": "@pipeline().libraryVariables.workspace_id",
                "type": "Expression"
              },
              "type": "string"
            },
            "item_id": {
              "value": {
                "value": "@pipeline().libraryVariables.item_id",
                "type": "Expression"
              },
              "type": "string"
            },
            "shortcut_name": {
              "value": {
                "value": "@pipeline().libraryVariables.health_adls_shortcut_name",
                "type": "Expression"
              },
              "type": "string"
            },
            "shortcut_path": {
              "value": {
                "value": "@pipeline().libraryVariables.health_adls_shortcut_path",
                "type": "Expression"
              },
              "type": "string"
            },
            "shortcut_target": {
              "value": {
                "value": "@pipeline().libraryVariables.health_adls_target",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Create Shortcut Notebook",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "shortcut_table"
            },
            "schema": [],
            "linkedService": {
              "name": "metadata_lh",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "69233f72-a67a-9ab7-4fa9-01774bd2cd19",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup Shortcut Table",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Lookup Shortcut Table').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "6e7da752-4c62-acd9-40a3-779b7991c2c9",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "shortcut_name": {
                    "value": {
                      "value": "@item().name",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "shortcut_location": {
                    "value": {
                      "value": "@item().shortcut_location",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "target_type": {
                    "value": {
                      "value": "@item().target_type",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "target_connection_id": {
                    "value": {
                      "value": "@item().target_connection_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "target_location": {
                    "value": {
                      "value": "@item().target_location",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "target_subpath": {
                    "value": {
                      "value": "@item().target_subpath",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "data_type": {
                    "value": {
                      "value": "@item().data_type",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "workspace_id": {
                    "value": {
                      "value": "@pipeline().libraryVariables.workspace_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "item_id": {
                    "value": {
                      "value": "@pipeline().libraryVariables.item_id",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "kv_uri": {
                    "value": {
                      "value": "@pipeline().libraryVariables.kv_uri",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "tenant_id_secret": {
                    "value": {
                      "value": "@pipeline().libraryVariables.tenant_id_secret",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "client_id_secret": {
                    "value": {
                      "value": "@pipeline().libraryVariables.client_id_secret",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "client_secret_name": {
                    "value": {
                      "value": "@pipeline().libraryVariables.client_secret_name",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create Shortcut",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach record in Shortcut Table",
        "description": "Create a shortcut for each row/record in shortcut_table",
        "dependsOn": [
          {
            "activity": "Lookup Shortcut Table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "libraryVariables": {
      "workspace_id": {
        "type": "String",
        "variableName": "workspace_id",
        "libraryName": "vars"
      },
      "item_id": {
        "type": "String",
        "variableName": "item_id",
        "libraryName": "vars"
      },
      "kv_uri": {
        "type": "String",
        "variableName": "kv_uri",
        "libraryName": "vars"
      },
      "tenant_id_secret": {
        "type": "String",
        "variableName": "tenant_id_secret",
        "libraryName": "vars"
      },
      "client_id_secret": {
        "type": "String",
        "variableName": "client_id_secret",
        "libraryName": "vars"
      },
      "client_secret_name": {
        "type": "String",
        "variableName": "client_secret_name",
        "libraryName": "vars"
      }
    }
  }
}